<aside class="sidebar">
    <div id="leftside-navigation" class="nano">
        <ul class="nano-content">
            <li class="sub-menu active">
                <a href="{% url 'entm:virvo_home' %}" class=""> 
                    <i class="fa fa-home"></i><span>首页</span>
                </a>
            </li>
            
            
                
                <li class="sub-menu">
                    <a href="javascript:void(0);">
                        <i class="fa fa-warning"></i><span>DMA分区</span>
                        <i class="arrow fa fa-angle-right pull-right"></i>
                    </a>
                    <ul class="second-menu-ul">
                        <li class="second-menu">
                            <a href="/dmam/districtmanager/">
                                <i class="fa fa-location-arrow"></i><span>DMA管理</span> 
                                <i></i> 
                            </a>
                            <ul>
                                
                            </ul>
                        </li>
                        <li class="second-menu">
                            <a href="/gis/pipelinequery/">
                                <i class="fa fa-location-arrow"></i><span>DMA框图</span> 
                                <i></i> 
                            </a>
                            <ul>
                                
                            </ul>
                        </li>
                        <li class="second-menu">
                            <a href="/monitor/mapmonitor/">
                                <i class="fa fa-location-arrow"></i><span>DMA在线监控</span> 
                                <i></i> 
                            </a>
                            <ul>
                                
                            </ul>
                        </li>
                        <li class="second-menu">
                            <a href="/reports/dmastatics/">
                                <i class="fa fa-location-arrow"></i><span>DMA报表</span> 
                                <i></i> 
                            </a>
                            <ul>
                                
                            </ul>
                        </li>
                        <li class="second-menu">
                            <a href="/analysis/mnf/">
                                <i class="fa fa-location-arrow"></i><span>夜间小流分析</span> 
                                <i></i> 
                            </a>
                            <ul>
                                
                            </ul>
                        </li>
                        
                    </ul>
                </li>


            

                
            
        </ul>
    </div>
    <div class="clearfix"></div>
</aside>